---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pictures</title>
    {% include head-tags.html %}
    <link rel="stylesheet" href="/css/proceedings.css" />
</head>

<body>

    {% include header.html %}
    {% include slider-regular-page.html title="PICTURES" %}

    <section id="program-committee">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <div class="block">
                        <div style="margin-bottom: 100px;">

                            <p>For higher resolution photos or questions contact <a href="mailto:garby@chalmers.se">Jacob Garby</a> </p>

                            <h1>Pictures - Wednesday, June 11th</h1>

                            <h3>Awards at Universium</h3>
                            <img src="files/day2/best_paper.jpg" />
                            <img src="files/day2/best_student_paper.jpg" />
                            <img src="files/day2/grand_challenge_award.jpg" />

                            <h3>Keynote with Minos Garofalakis</h3>
                            <img src="files/day2/minos.jpg" />

                            <h3>Research Presentations</h3>
                            <img src="files/day2/research_1.jpg" />
                            <img src="files/day2/research_2.jpg" />
                            <img src="files/day2/research_3.jpg" />
                            <img src="files/day2/research_4.jpg" />
                            <img src="files/day2/research_5.jpg" />
                            <img src="files/day2/research_6.jpg" />
                            <img src="files/day2/research_7.jpg" />
                            
                            <h3>Test of Time and Grand Challenge</h3>
                            <img src="files/day2/test_of_time.jpg" />
                            <img src="files/day2/grand_challenge.jpg" />

                            <h1>Pictures - Tuesday, June 10th</h1>
                            
                            <img src="files/day1/symposium.jpg" />
                            <img src="files/day1/symposium_panel.jpg" />
                            <img src="files/day1/fika_1_of_x.jpg" />
                            <img src="files/day1/relax.jpg" />
                            <img src="files/day1/relax_panel.jpg" />
                            <img src="files/day1/mrchalmers.jpg" />
              

                        </div>
                    </div>
                </div>

                {% include side.html %}

            </div>
        </div>
    </section>

    {% include footer.html %}
</body>

</html>
