---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pictures</title>
    {% include head-tags.html %}
    <link rel="stylesheet" href="/css/proceedings.css" />
</head>

<body>

    {% include header.html %}
    {% include slider-regular-page.html title="PICTURES" %}

    <section id="program-committee">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <div class="block">
                        <div style="margin-bottom: 100px;">

                            <h1>Pictures - Tuesday, June 10th</h1>
                            
                            <img src="files/symposium.jpg" />
                            <img src="files/symposium_panel.jpg" />
                            <img src="files/fika_1_of_x.jpg" />
                            <img src="files/relax.jpg" />
                            <img src="files/relax_panel.jpg" />
                            <img src="files/mrchalmers.jpg" />
              

                        </div>
                    </div>
                </div>

                {% include side.html %}

            </div>
        </div>
    </section>

    {% include footer.html %}
</body>

</html>
